{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <h2>Gestionnaire de mots de passe</h2>

    <form method="POST" class="mb-4">
        {{ form.hidden_tag() }}
        <div class="row g-2">
            <div class="col-md-3">
                {{ form.site.label(class="form-label") }}
                {{ form.site(class="form-control") }}
            </div>
            <div class="col-md-3">
                {{ form.username.label(class="form-label") }}
                {{ form.username(class="form-control") }}
            </div>
            <div class="col-md-3">
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control") }}
            </div>
            <div class="col-md-3 d-flex align-items-end">
                {{ form.submit(class="btn btn-primary w-100") }}
            </div>
        </div>
    </form>

    <h4>Vos mots de passe</h4>
    <table class="table table-bordered mt-3">
        <thead>
            <tr>
                <th>Site</th>
                <th>Identifiant</th>
                <th>Mot de passe</th>
            </tr>
        </thead>
        <tbody>
            {% for site, username, password in passwords %}
            <tr>
                <td>{{ site }}</td>
                <td>{{ username }}</td>
                <td>{{ password }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
